<div class="continer">
  <div class="wrapper-navbar">
    <div class="logo">
      <img
        class="img-responsive"
        src="../../../../assets/images/logo.png"
        alt=""
      />
    </div>
    <ul class="navbar">
      <li><a class="navbar-items items" href="#noticias">Recetas</a></li>
      <li>
        <a class="navbar-items special" href="#formulario">Publica tu receta</a>
      </li>
    </ul>
  </div>
  <div class="img-header">
    <div class="h1-header">
      <h1>Novedades Culinarias</h1>
      <p>Recetas asiáticas</p>
    </div>
    <img
      class="img-responsive"
      src="../../../../assets/images/principal.png"
      alt=""
    />
  </div>
</div>
